{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block subheading %}
<p class="lead text-center text-secondary">
  Parsed <span class="text-primary">{{ num_comments }}</span> comments across <span class="text-primary">{{ num_posts }}</span> posts on {{ date_time }}. This list is updated every hour.
</p>
<p class="text-center">
  Subreddits parsed:
  {% for subreddit in subreddits %}
    <a href="https://reddit.com/r/{{ subreddit }}" class="btn btn-link">r\{{ subreddit }}</a>
  {% endfor %}
</p>
{% endblock subheading %}

{% block content %}
<div class="container">
  <table class="table table-fluid" id="table-stocks">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Index</th>
        <th scope="col">Stock</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
      {% for stock, count in stocks.items() %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td><a href="https://finance.yahoo.com/quote/{{ stock }}" class="btn btn-link">{{ stock }}</a></td>
        <td>{{ count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content%}

{% block scripts %}
<script>
  $(document).ready( function () {
    $('#table-stocks').DataTable()
  });
</script>
{% endblock scripts %}